.theme-default-content:not(.custom){
  width:calc(100% - 5rem) !important;
  max-width:calc(100% - 5rem) !important;
}

.page-edit, .page-nav{
  width:calc(100% - 5rem) !important;
  max-width:calc(100% - 5rem) !important;
}
